<link rel="stylesheet" href="/css/_post.css">
<span id = "post-<%=post._id%>">
    <div id = "post-container">
        <div id = "user-name-heading">
            <div id = "post-image-container">
                <span id = "post-heading-profile-img">
                    <%if(!post.user.avatar){%>
                        <img src="/images/userImg.png" id = "post-user-profile" alt="profile-page">
                        <%}else{%>
                            <img src="<%=post.user.avatar%>" id = "post-user-profile" alt="profile-page">
                    <%}%>
                </span>
            </div>
            
            <p id = "post-user-name"><%=post.user.name%></p>
        
        </div>
        <div id = "post-content">
            <p><%= post.content%></p>
        </div>
        <div id = "like-comment-section">
            <button class = "post-content-button">128 Like</button>
            
            <a href="/comments/display/<%= post._id%>" id = "show-post-comment" data-comments-loaded>
                Comments
            </a>
            <a href="/post/deletePost/<%= post._id %>" class = "delete-post-button">
                Delete Post
            </a>
        </div>
        <div id = "add-comment-form"></div>
        <div id = "user-only-comment"></div>
    </div>
</span>

