<link rel="stylesheet" href="/css/_post.css">
<span id = "post-<%=post._id%>">
    <div id = "post-container">
        <div id = "user-name-heading">
            <div id = "post-image-container">
                <span id = "post-heading-profile-img">
                    <%if(!post.user.avatar){%>
                        <img src="/images/userImg.png" id = "post-user-profile" alt="profile-page">
                        <%}else{%>
                            <img src="<%=post.user.avatar%>" id = "post-user-profile" alt="profile-page">
                    <%}%>
                </span>
            </div>
            
            <p id = "post-user-name"><%=post.user.name%></p>
        
        </div>
        <div id = "post-content">
            <p><%= post.content%></p>
        </div>
        <div id = "like-comment-section">
            <button class = "post-content-button">128 Like</button>
            <div id = "comment-div">
                <form action="/comments/create" method="POST" id="submit-form" class = "comment-form">
                    <input type="text" name = "content" id = "comment-input" placeholder="Add your comment...">
                    <input type="hidden" name = "post"  value ="<%= post._id %>">
                    <input type="submit" class = "post-content-button add-comment-button" value = "Add Comment">
                </form>
            </div>
            <a href="/comments/display/<%= post._id%>" id = "show-post-comment">
                Show Comments
            </a>
            <a href="/post/deletePost/<%= post._id %>" class = "delete-post-button">
                Delete Post
            </a>
        </div>
        <div id = "user-only-comment">

        </div>
    </div>
</span>

