<!-- commomn layout for reuse purpose -->
<html>
    <head>
        <title>
            <%= title %>
        </title>
        <!-- here your path is relative, you aleady assign assets, now you just need this href -->
        <!-- rendering the link tag for stying as per requirement -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/layout.css">
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/footer.css">
     
        
        <%- style %>
    </head>
    <body>

        <!-- included common header here -->
        <%- include("_header"); %>

        <!-- partial of a page render here -->
        <main id = "content-body">
            <%- body %>
        </main>
        

        <!-- inluded common footer here -->
        <%- include("_footer"); %>
        
        <!-- rendering the script tag for scripting as per requirement -->
        <%- script %>
    </body>
</html>